.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 290px;
    &__description {
        width: 150px;
        display: flex;
        justify-content: center;
        & span {
            color: white;
            font-weight: normal;
            font-size: 16px;
            &:last-child {
                margin-left: 5px;
            }
        }
    }
    & button {
        display: flex;
        justify-content: space-between;
        opacity: 1;
        & img:first-child {
            margin-right: 6px;
        }
    }

    & button[disabled], & button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}