.tops {
    background-color: #2E2C2C;
    width: 100%;
    min-height: 100vh;
    color: white;
    padding-top: 128px;
    padding-left: 18px;

    &__title {
        padding-left: 48px;
    }

    .divider {
        border: 1px solid #828080;
        width: 100%;
        margin: 16px 0;
        height: 0;
        position: relative;
    }
}