.movie-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    &__content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #2E2C2C;
        box-sizing: border-box;
        margin: 0 auto;

        &__card {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px
        }
    } 
}